{% extends 'admin_dash.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='patient.css')}}">

<div class="scrollable-form">
    <h1>Doctor Information Form</h1>
    <form action="/add_doctor/" method="POST">
 
        <lable id="Doctor_id">Doctor Id</lable>
        <input type="text" name="doctor_id" id="Doctor_id">

        <lable>First Name</lable>
        <input type="text" name="First_name" id="">

        <lable>Last Name</lable>
        <input type="text" name="Last_name" id="">

        <lable>Gender</lable>
        <input type="text" name="Gender" id="">

        <lable>contact</lable>
        <input type="text" name="contact" id="">

        <lable>Doctor Charge</lable>
        <input type="text" name="Doctor_Charge" id="">

        <lable>Specialty Id</lable>
        <input type="text" name="Specialty_id" id="">

        <!-- <lable></lable> 
        <input type="text" name="" id=""> -->
        
        <input type="submit" value="Submit" >
        
            {% for error in get_flashed_messages()%}
                <div>
                    {{error}}
                </div>
            {%endfor%}
        
            
    </form>
    </div>
    {% endblock %}
    </body>
    </html>
    
    
