{% extends 'admin_dash.html' %}
{% block content %}
   <title>Login Page</title>
    <style>
        body {
            margin: 100px;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
            
        }

        a {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;
            
        }

        a:hover {
            background-color: #007bff;
            color: aqua;
        }
        
    </style>
</head>
<body>
    
    <div id="pls_login">
        <h1>You are not a valid user to see this content</h1>
    <a href="{{ url_for('index') }}" >Login</a>
    </div>
{% endblock%}
</body>
</html>
